  h1, h2 {
  font-size: 60px;
  text-align: center;
  font-family: arial;
  margin: 10px;
  color: black;
}

button {
  display: block;
  margin: auto;
}

.container {
  width: 600px;
  margin: auto;
  cursor: url(../img/palu1.png), auto;
}

.container:active {
  cursor: url(../img/palu2.png), auto;
}

.tanah {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  float: left;
}


.tanah::after {
  content: '';
  display: block;
  width: 200px;
  height: 100px;
  background: url(../img/tanah.png) bottom center no-repeat;
  background-size: 80%;
  position: absolute;
  bottom: -25px;
}

.tikus {
  width: 100%;
  height: 100%;
  background: url(../img/Box.png) bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100px;
  transition: top 0.3s;
}

.tanah.muncul .tikus {
  top: -15px;
}

.mulai {
  font-family: sans-serif;
  font-size: 15px;
  background-color: orangered;
  color: black;
  border-color: black;
  border-radius: 5px;
  padding: 12px 20px;

}

body {
  background-color: grey;
}
